{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}
    {%block main%}
        <div class="main-box">
            <div class="header">
                <h1>Accounts</h1>
                <div class="action-links scroll">
                    <a href="/create-accounts" class="eleveted-a">
                        add more
                    </a>
                    <a href="/create-accounts?action=upload-accounts" class="eleveted-a">
                        upload accounts
                    </a>
                    <a href="#" class="eleveted-a">
                        sort by
                    </a>
                </div>
            </div>

            <div class="main-container">
                <div class="holder table-holder scroll">
                    <table class="">
                        <thead>
                        <tr>
                            <th class="check-all">
                                <input type="checkbox" id="check-all">
                            </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for account in accounts %}
                        <tr data-url="/account-page?account={{ account.id }}" data-category="accounts">
                            <td  class="checkbox-item">
                                <input type="checkbox" class="check-input" value="{{account.id}}">
                            </td>
                            <td class="clickable">{{ account.id }}</td>
                            <td class="clickable">{{ account.name }}</td>
                            <td class="clickable">{{ account.email }}</td>
                            <td class="clickable">{{ account.created_at }}</td>
                            <td class="actions">
                                <i class="fas fa-ellipsis-v"></i>
                                <span class="action-btns no-show">
                                    <a href="" class="eleveted-a delete danger action" 
                                        data-action-id="{{account.id}}" 
                                        data-action="delete-account" 
                                        data-action-prompt="do you want to delete account?" 
                                        data-action-message="deleting account..." 
                                        data-url="/account-page">delete</a>
                                    <a href="/account-page?account={{ account.id }}" class="eleveted-a">view</a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="table-bottom">
                    <div class="table-sum">
                        {{sum}} / {{ total}}
                    </div>
                    <div class="eleveted-a delete-all bg-danger action no-show"  
                        data-action="delete-accounts" 
                        data-action-category="do-multiple"
                        data-action-data=""
                        data-action-prompt="do you want to delete selected accounts" 
                        data-action-message="deleting account..." 
                        data-url="/accounts" id="delete-all">
                        <span>
                            delete selected
                        </span>
                    </div>
                    <div class="table-nav">
                        <a href="/accounts?page={% if page > 1%}{{ page-1}} {%else%}1 {%endif%}" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="/accounts?page={% if page < (total + limit - 1) // limit%}{{ page+1}} {%else%}1 {%endif%}" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock%}