{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}
    {%block main%}
        <div class="main-box">
            <div class="header">
                <h1>Accounts</h1>
                <div class="action-links scroll">
                    <a href="/create-accounts" class="eleveted-a">
                        add more
                    </a>
                    <a href="" class="eleveted-a delete click-on-an-account-to-delete">
                        delete an account
                    </a>
                    <a href="" class="eleveted-a">
                        sort by
                    </a>
                </div>
            </div>

            <div class="main-container">
                <div class="holder table-holder scroll">
                    <table class="scroll">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Created at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for account in accounts%}
                        <tr>
                            <td>{{account.displayName}}</td>
                            <td>{{account.email}}</td>
                            <td>
                                <span  class="admin-badge">
                                    {{account.status}}
                                </span>
                            </td>
                            <td>{{account.created_at}}</td>
                            <td class="actions">
                                <i class="fas fa-ellipsis-v"></i>
                                <span class="action-btns no-show">
                                    <a href="" class="eleveted-a delete danger delete-this-account?">delete</a>
                                    <a href="/account-page?account={{account.id}}" class="eleveted-a">view</a>
                                </span>
                            </td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="table-bottom">
                    <div class="table-sum">
                        {{sum}} / {{ total}}
                    </div>
                    <div class="table-nav">
                        <a href="/accounts?page={% if page > 1%}{{ page-1}} {%else%}1 {%endif%}" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="/accounts?page={% if page < (total + limit - 1) // limit%}{{ page+1}} {%else%}1 {%endif%}" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock%}