{% extends "layout.html" %}

{% block title %}
   Configs
{% endblock %}
{% block platform %}
    {% if platform != None%}
        {{platform.name}}
    {%else%}
        set platform
    {% endif %}
{% endblock %}

{% block model %}
    {% if model%}
        @{{model.username}}
    {%else%}
       set model
    {% endif %}
{% endblock %}


{% block main %}
        <div class="main-box">
            <div class="header">
                <h1>Configurations</h1>
                <div class="action-links scroll">
                    <a href="/create-accounts" class="eleveted-a">
                        add more
                    </a>
                    <a href="" class="eleveted-a delete click-on-an-account-to-delete">
                        delete an account
                    </a>
                    <a href="" class="eleveted-a">
                        sort by
                    </a>
                </div>
            </div>
            <div class="menu">
                <ul class="menu-options scroll">
                    {% for config in  configs %}
                        {%if config.title|lower != 'cities'%}
                            <li class="title-options eleveted-a" onclick="showTextarea('{{ config.title }}');handleClick(this)">{{ config.title }}</li>
                        {%else%}
                            <li class="title-options eleveted-a" data-title="{{config.title}}" id="cities-btn">{{ config.title }}</li>
                        {%endif%}
                    {% endfor %}
                    <li style="display: none;"></li>
                </ul>
            </div>
            <div class="main-container">
                <div class="holder config-holder scroll">
                    {% for config in  configs %}
                    <div id="{{ config.title }}-container" class="content-holder" style="display: none;">
                        <p id="{{ config.title }}-message" class="message" style="display: none;"></p>

                        <textarea id="{{ config.title }}-textarea" rows="10" cols="50" style="width: 100%;" {%if config.title|lower == 'cities'%}readonly{%endif%}>{%if config.content|length > 0%}{{ config.content }}{%endif%}</textarea>
                        {%if config.title|lower == 'biographies'%} 
                            <h5 class="input-highlight" style="padding: 5px 10px; font-size: 13px;"> <i class="fas fas fa-exclamation-circle"></i> 
                                biographies must be seperated by double newlines (double enter key)
                            </h5>
                        {%elif config.title|lower == 'proxies'%}
                            <h5 class="input-highlight" style="padding: 5px 10px; font-size: 13px;"> <i class="fas fas fa-exclamation-circle"></i> 
                                proxies must be in this format: myusername:mypassword@myhost.com:myport
                            </h5>
                        {%endif%}
                        <div class="config-header">
                            <h3 style="padding: 10px 10px;">
                                <u>{{ config.title }}</u>
                            </h3>
                            <div class="save-button">
                                <button id="{{ config.title }}-button" class="save-button" onclick="saveContent('{{ config.title }}')">Save Changes</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="cities-modal no-show">
                        <div class="action-btns">
                            <div class="load-cities eleveted-a" id="load-cities">
                                    Load from file
                            </div>
                            <div class="enter-cities eleveted-a" id="enter-cities">
                                Enter manually
                        </div>
                        </div>
                        <div class="body scroll">
                            <input type="text" class="city-input" placeholder="enter a city">
                            <ul class="matched-cities">
                            </ul>
                        </div>
                        <div class="cities-close eleveted-a" id="cities-close-btn">
                            Done
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            body{
                overflow: hidden;
            }

            .main-container{
                height: calc(100% - 130px) !important;
            }
            .holder.config-holder{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                margin: 10px auto;
                position: relative;
            }

            .holder.config-holder > .cities-modal{
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 10px;
                right: 5%;
                width: 40%;
                height: 95%;
                background: #ffffff;
                box-shadow: 0.2px 0.2px 10px #e2e2e2;
            }

            .holder.config-holder > .cities-modal.no-show{
                display: none;
            }
            
            .holder.config-holder > .cities-modal > .action-btns{
                width: 80%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 20px;
                align-items: center;
                justify-items: center;
                margin: 20px auto;
            }

            .holder.config-holder > .cities-modal > .action-btns > div,
            .holder.config-holder > .cities-modal > .cities-close{
                text-align: center;
                width: 100%;
                padding: 5px 16px;
                margin:auto;
                border-radius: 20px;
                background: #333;
                color: var(--soft-white);
                font-size: 14px;
            }

            .holder.config-holder > .cities-modal > .action-btns > .enter-cities{
                background: none;
                color: #333;
                border: 2px solid #333;
            }

            .holder.config-holder > .cities-modal > .cities-close{
                width: fit-content;
                margin: 10px auto;
            }

            .holder.config-holder > .cities-modal > .body{
                display:flex;
                flex-direction:column;
                width: 95%;
                height: calc(100% - 100px);
                margin: 5px auto;
            }

            .holder.config-holder > .cities-modal > .body > input{
                display: none;
                border: 2px solid var(--soft-white);
                outline: 0;
                width: 80%;
                height: 30px;
                margin:5px auto;
                padding: 5px;

            }

            .holder.config-holder > .cities-modal > .body > .matched-cities{
                display: none;
                margin: 5px auto;
                width: 80%;
                padding: 0;
            }

            .holder.config-holder > .cities-modal > .body > .matched-cities > li{
                text-align: center;
                font-size: 13px;
                background: var(--soft-text);
                color: var(--soft-white);
                margin: 8px auto;
                padding: 5px 0px;
            }

            .holder.config-holder > .cities-modal > .body > .matched-cities > li:first-child{
                margin-top: 0;
            }

            .holder.config-holder > .cities-modal > .body > input:focus{
                border: 3px solid var(--soft-white);
            }

            .menu{
                width: 100%;
                margin: 0;
            }
            .menu-options{
                max-height: 100px;
                display: grid;
                grid-template-columns: repeat(6,1fr);
                justify-items: center;
                align-items: center;
                width: 95%;
                padding: 10px;
                gap: 10px;
                margin: 10px auto 5px auto;
            }
            .menu-options > li{
                margin: auto 0;
                padding: 8px 10px;
                font-weight: 400;
                font-size: 12px;
                width: 100%;
                text-align: center;
            }

            .title-options:hover {
                background: var(--soft-white);
                }

            .title-options:active {
            background:var(--soft-white);
            }
                
            .menu-options > li.activated{
                background: var(--soft-white);
                box-shadow: none
            }

            .content-holder{
                width: 100%;
                height: 100%;
            }

            .config-header{
                position: absolute;
                bottom: 0;
                left:0;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                background: #ffffff;
            }

            .config-header > .save-button{
                display: flex;
                justify-content: end;
                padding: 10px;
            }
            
            /* Button style */
            .config-header > .save-button > button{
                border: none;
                margin: auto 0;
                border-radius: 20px;
                font-size: 14px;
                cursor: pointer;
                width: fit-content;
                padding: 5px 10px;
                background: var(--secondary);
                color: #000000;
                font-weight: 500;
                display: none;
            }

            .config-header > .save-button > button:hover {
                background-color: #f1f1f1;
                color: #000000;
            }
            textarea {
                width: 100%;
                height: 70%;
                border: 2px solid #ddd;
                overflow-y: visible;
                outline: 0;
                padding: 20px;
                }
            textarea::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            .message{
                padding: 0 10px;
            }
            @media  screen and (max-width: 1200.9px) {
                .holder.config-holder > .cities-modal{
                    right: 0;
                    left: 2.5%;
                    width: 95%;
                }
            }
            @media screen and (max-width: 999.9px){
                .holder.config-holder{
                    height: calc(100% - 70px);
                }
                .holder.config-holder > .cities-modal > .action-btns{
                    grid-template-columns: repeat(1,1fr);
                    gap: 10px;
                }
                .menu-options{
                    margin: 5px auto;
                }
                .menu-options > li{
                    width: max-content;
                }
            }
        </style>
    <script>
        function showTextarea(title) {
            var containerId = title + '-container';
            var containerElement = document.getElementById(containerId);
            var message = document.getElementById(title + '-message');
            var button = document.getElementById(title + '-button');

            // Hide all textareas
            var textareaContainers = document.querySelectorAll('.content-holder');
            textareaContainers.forEach(function (container) {
                container.style.display = 'none';
                message.style.display='none';
                button.style.display='none';
            });

            // Show the selected textarea
            containerElement.style.display = 'block';
            button.style.display='block'
        }
        function handleClick(element) {
            var allLiElements = document.querySelectorAll('.title-options');
            allLiElements.forEach(function(li) {
            li.classList.remove('activated');
            });
            if(element.id !== 'cities-btn'){
                const citiesModal = document.querySelector('.cities-modal').classList.add('no-show');
            }
            element.classList.add('activated');
        }

        function saveContent(title) {
            var textarea = document.getElementById(title + '-textarea');
            var message = document.getElementById(title + '-message');
            
            message.textContent = 'Saving file content...';
            message.style.color = 'green';
            message.style.display = 'block';

            // Prepare the data to be sent
            var data = {
                title: title,
                content: textarea.value
            };

            if (String(textarea.value).length > 0){
                let msg;
                // Send the POST request to the server
                    fetch('/account-configs', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => {
                        // Handle the response
                        if (response.ok) {
                            return response.json().then(data => {
                                msg = data.message;
                                message.textContent = msg;
                                message.style.color = 'green';
                                message.style.display = 'block';
                            });
                        } else {
                            return response.json().then(data => {
                                msg = data.message;
                                message.textContent = msg;
                                message.style.color = 'red';
                                message.style.display = 'block';
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        message.textContent = 'Error occurred while saving file content.';
                        message.style.color = 'red';
                        message.style.display = 'block';
                    });
            }else{
                message.textContent = "Can't save an empty content";
                message.style.color = 'red';
                message.style.display = 'block';
            }


        }
        
        const citiesBtn = document.getElementById('cities-btn');
        const citiesCloseBtn = document.getElementById('cities-close-btn');
        const citiesModal = document.querySelector('.cities-modal');
        citiesBtn.addEventListener('click',()=>{
            handleClick(citiesBtn);
            showTextarea('Cities');
            citiesModal.classList.remove('no-show');
        })

        citiesCloseBtn.addEventListener('click',()=>{
            citiesModal.classList.remove('no-show');
            citiesModal.classList.add('no-show');

            citiesModal.querySelector('.body input').style.display = 'none';
            citiesModal.querySelector('.body ul').style.display = 'none';
        })

        const loadCitiesBtn = document.getElementById('load-cities');
        loadCitiesBtn.addEventListener('click',(e)=>{
            const citiesTextArea = document.getElementById('Cities-textarea');
            citiesTextArea.removeAttribute('readonly');
            citiesTextArea.value = {{working_cities|tojson|safe}};
            citiesTextArea.setAttribute('readonly','');
        })

        const enterCitiesBtn = document.getElementById('enter-cities');
        enterCitiesBtn.addEventListener('click',(e)=>{
            const citiesTextArea = document.getElementById('Cities-textarea');
            citiesTextArea.value = ``
            citiesModal.querySelector('.body input').style.display = 'block';
            citiesModal.querySelector('.body ul').style.display = 'block';
        })

        const workingCities = String({{working_cities|tojson|safe}}).split('\n');
        const cityInput = document.querySelector(".city-input");
        const matchedCitiesList = document.querySelector(".matched-cities");
        const citiesTextArea = document.getElementById('Cities-textarea');

        const filterCities = (input) => {
        const filteredCities = workingCities.filter((city) =>
            city.toLowerCase().startsWith(input.toLowerCase())
        );
        return filteredCities;
        };

        const populateMatchedCitiesList = (cities) => {
        matchedCitiesList.innerHTML = "";

        cities.forEach((city) => {
            const li = document.createElement("li");
            li.textContent = city;
            li.addEventListener("click", () => {
            const enteredCities = citiesTextArea.value.split("\n").map(city => city.trim());
            if (!enteredCities.includes(city)) {
                citiesTextArea.removeAttribute('readonly');
                citiesTextArea.value += city + "\n";
                citiesTextArea.setAttribute('readonly','')
            }
            cityInput.value = "";
            matchedCitiesList.innerHTML = "";
            });
            matchedCitiesList.appendChild(li);
        });
        };

        cityInput.addEventListener("input", (e) => {
        const input = e.target.value;
        const filteredCities = filterCities(input);
        populateMatchedCitiesList(filteredCities);
        });
    
    </script>
{% endblock %}