{% extends "layout.html" %}

{% block title %}
    Admins
{% endblock %}
    {%block main%}
        <div class="main-box">
            <div class="header">
                    <h1>Admins</h1>
                    <div class="action-links scroll">
                        <a href="/accounts" class="eleveted-a">
                            accounts
                        </a>
                        <a href="/dashboard" class="eleveted-a delete click-on-an-account-to-delete">
                            platforms
                        </a>
                        {%if g.admin.role != 'admin'%}
                            <a href="/admins" class="eleveted-a">
                                admins
                            </a>
                        {%else%}
                            <a href="/models" class="eleveted-a">
                                models
                            </a>
                        {%endif%}
                    </div>
            </div>
            <div class="main-container">
                {% if action and (action == 'admin-settings' or action == 'edit-signup-configs') %}
                    {%if action == 'admin-settings'%}
                        <div class="holder scroll form-holder">
                            <h2>
                                {{admin.full_name}}
                            </h2>
                            <form action="" class="op-form edit-admin" id="admin-form">
                                <div>
                                    <label for="admin-fullname">Full name</label>
                                    <input type="text" id="admin-fullname" name="admin-fullname" value="{{admin.full_name}}">
                                </div>
                                <div>
                                    <label for="admin-email">Email</label>
                                    <input type="text" id="admin-email" name="admin-email" value="{{admin.email}}">
                                </div>
                                <input type="hidden" class="not-edit" id="admin-id" name="admin-id" value="{{admin.id}}">
                                <div>
                                    <label for="admin-created_at">Created date</label>
                                    <input type="text" id="admin-created_at" name="admin-created_at" value="{{admin.created_at}}" disabled>
                                </div>
                                <div>
                                    <label for="admin-accounts">No. of accounts</label>
                                    <input type="number" id="admin-accounts" name="admin-accounts" value={{admin_accounts}} disabled>
                                </div>
                                <div>
                                    <label for="admin-images">No. of images</label>
                                    <input type="number" id="admin-images" name="admin-images" value={{admin_images}} disabled>
                                </div>
                                <div>
                                    <label for="admin-tasks">No. of images</label>
                                    <input type="number" id="admin-tasks" name="admin-tasks" value={{admin_tasks}} disabled>
                                </div>
                                <input type="submit" value="Edit"> 
                            </form>
                        </div>
                    {%elif action == 'edit-signup-configs'%}
                        <div class="holder scroll form-holder">
                            <h2>
                                Edit signup configurations
                            </h2>
                            <form action="" class="op-form edit-admin" id="admin-form">
                                <div>
                                    <label for="secret_link">Secret link</label>
                                    <input type="text" id="secret_link" name="secret_link" value="{{g.secret_link}}">
                                </div>
                                <div>
                                    <label for="passkey">Passkey</label>
                                    <input type="text" id="passkey" name="passkey" value="{{g.passkey}}">
                                </div>
                                <input type="hidden" class="not-edit" id="admin-id" name="admin-id" value="{{admin.id}}">
                                
                                <input type="submit" value="Edit"> 
                            </form>
                        </div>
                    {%endif%}
                {%else%}
                <div class="holder table-holder scroll">
                    <table  class="scroll">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for admin in admins%}
                                <tr>
                                    <td>{{admin.full_name}}</td>
                                    <td>{{admin.email}}</td>
                                    <td >
                                        <span class="admin-badge 
                                        {% if admin.role == 'super-admin' %}super-admin
                                        {%else%}admin
                                        {% endif %}">
                                            {{admin.role}}
                                        </span>
                                    </td>
                                    <td>{{admin.status}}</td>
                                    <td class="actions" id="{{admin.id}}">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <span class="action-btns {%if admin.role != 'admin' and admin.id != g.admin.id%}disabled{%endif%}">
                                            {%if g.admin.id != admin.id%}
                                                <a href="" class="eleveted-a danger {%if admin.status == 'active'%}block{%else%}unblock{%endif%}-this-account?">
                                                    {%if admin.status == 'active'%}
                                                        block 
                                                    {%else%} 
                                                        unblock 
                                                    {%endif%}
                                                </a>
                                                {%if admin.role =='admin' and admin.status == 'active'%}
                                                    <a href="" class="eleveted-a make-super?">make super</a>
                                                    <a href="" class="eleveted-a login-as-user?">Login as this user</a>
                                                    <a href="" class="eleveted-a delete-user?">delete this user</a>
                                                {%endif%}
                                            {%else%}
                                            <a href="/admins?admin={{admin.id}}&action=admin-settings&page={{page}}" class="eleveted-a">edit</a>
                                            <a href="/signup" class="eleveted-a add-a-user?">add user</a>
                                            {%endif%}
                                        </span>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="table-bottom">
                    <div class="table-sum">
                        {{sum}} / {{ total}}
                    </div>
                    <div class="table-nav">
                        <a href="/admins?page={% if page > 1%}{{ page-1}} {%else%}1 {%endif%}&limit={{limit}}" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="/admins?page={% if page < (total + limit - 1) // limit%}{{ page+1}} {%else%}1 {%endif%}&limit={{limit}}" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                {%endif%}
            </div>
        </div>
        {%if action%}
            <script>
                const action = "{{action}}"
            </script>
        {%endif%}
    {% endblock%}