{% extends "layout.html" %}

{% block title %}
    Create accounts
{% endblock %}


    {%block main%}
        <div class="main-box">
            <div class="header">
                <h1>Create accounts</h1>
                <div class="action-links scroll">
                    <a href="/accounts" class="eleveted-a">
                        accounts
                    </a>
                    <a href="/schedules?action=add-schedule&type=account" class="eleveted-a">
                        add schedule
                    </a>
                    <a href="/schedules" class="eleveted-a">
                        schedules
                     </a>
                </div>
            </div>

            <div class="main-container">
               {% if running %}
                <div class="op-alert">
                    <h4>
                        An account creation operation is already running, please wait till it's done!
                    </h4>
                    <div class="op-action">
                        <a href="">
                            view operations
                        </a>
                    </div>
                    <span class="close">
                        <i class="fa fa-close"></i>
                    </span>
                </div>
                <div class="holder scroll op-holder">
                    <div class="op-card">
                        <div>
                            <h2>
                                {{task_status.type}}
                            </h2>
                        </div>
                        <div>
                            <strong>Status : </strong>
                            <span>{{task_status.status}}</span>
                        </div>
                        <div>
                            <strong>Started at : </strong>
                            <span>{{task_status.start_time}}</span>
                        </div>
                        <div>
                            <strong>Progress : </strong>
                            <span>{{task_status.progress}}%</span>
                        </div>
                        {% if task_status.status == "Running"%}
                                <span class="op-spinner bg-warning">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                        {%elif task_status.status == "Completed"%}
                            <span class="op-spinner bg-success">
                                <i class="fa fa-check"></i>
                            </span>
                        {%elif task_status.status == "Failed"%}
                        <span class="op-spinner bg-danger">
                            <i class="fa fa-close"></i>
                        </span>
                        {%endif%}
                    </div>
                </div>
                {%else%}
                    <div class="holder scroll form-holder">
                        <h2>
                            Fill the form with the required details
                        </h2>
                        <form action="" class="op-form" id="account-op-form">
                            <div>
                                <label for="op-count">No. of accounts</label>
                                <input type="number" id="op-count" name="op-count" required>
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>the number of accounts to create</h5>
                            </div>
                             {% if models%}
                                <div>
                                    <label for="op-model">Pick a model</label>
                                    <select id="op-model" class="op-model" name="op-model">
                                        <option value="" disabled>select a model</option>
                                        {%for m in models%}
                                            <option value="{{m.id}}" {%if m == g.model%} selected {%endif%}>{{m.full_name}}</option>
                                        {%endfor%}
                                    </select>
                                    <h5 class="input-highlight"> 
                                        <i class="fas fas fa-exclamation-circle"></i> 
                                        for which model do you want to run this operation, if not selected the action is for the already set model <span id="current-model" style="color: #111;">({{g.model.full_name}}) </span>
                                    </h5>
                                </div>
                            {%endif%}
                            <!-- {% if schedules%}
                                <div>
                                    <label for="op-group">Pick a swipe schedule group</label>
                                    <select id="op-group" name="op-group">
                                        <option value="" disabled>select schedule group</option>
                                        {%for s in schedules%}
                                            <option value="{{s.id}}">{{s.name}}</option>
                                        {%endfor%}
                                    </select>
                                    <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> a schedule group defines your swipe operation strategy</h5>
                                </div>
                            {%endif%} -->
                            {%if swipe_schedules%}
                            <div>
                                <label for="op-swipe-group">Pick a swipe schedule group</label>
                                <select id="op-swipe-group" name="op-swipe-group">
                                    <option value="" disabled>select schedule group</option>
                                    {%for s in swipe_schedules%}
                                        <option value="{{s.id}}">{{s.name}}</option>
                                    {%endfor%}
                                </select>
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> a swipe schedule group defines your swipe operation strategy</h5>
                            </div>
                            {%endif%}
                            <div class="double-field"  style="position: relative;">
                                <label for="">Select operation location</label>
                                <div class="inputs">
                                    <div>
                                        <label for="op-location">Proxy location</label>
                                        <input type="text" id="op-location" name="op-location">
                                        <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>the latitude and longitude for the proxy settings</h5>
                                        <div id="op-map" class="map no-show"></div>
                                    </div>
                                    <div class="map-btn">
                                        <a href="" id="toggle-map">
                                            open map &nbsp;
                                            <i class="fas fa-map-marked"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div>
                                <label for="img-count">No. of images to upload</label>
                                <input type="number" id="img-count" name="img-count" required>
                            </div> -->
                            <div>
                                <label for="bio">Enter bio (enter multiple sep. by double comma ",,")</label>
                                <textarea type="text" id="bio" name="bio"></textarea>
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>the biography for the account(s), not required</h5>
                            </div>
                            <div>
                                <label for="max-workers">No. of concurrent actions (optional)</label>
                                <input type="number" id="max-workers" name="max-workers">
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>number of threads to run</h5>
                            </div>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                {%endif%}
            </div>
        </div>
    {%endblock%}