{% extends "layout.html" %}

{% block title %}
    Create accounts
{% endblock %}


    {%block main%}
        <div class="main-box">
            <div class="header">
                <h1>Create accounts</h1>
                <div class="action-links scroll">
                    <a href="/accounts" class="eleveted-a">
                        accounts
                    </a>
                    <a href="/schedules?action=add-schedule&type=account" class="eleveted-a">
                        add schedule
                    </a>
                    <a href="/schedules" class="eleveted-a">
                        schedules
                     </a>
                </div>
            </div>

            <div class="main-container">
               {% if running %}
                <div class="op-alert">
                    <h4>
                        An account creation operation is already running, please wait till it's done!
                    </h4>
                    <div class="op-action">
                        <a href="">
                            view operations
                        </a>
                    </div>
                    <span class="close">
                        <i class="fa fa-close"></i>
                    </span>
                </div>
                <div class="holder scroll op-holder">
                    <div class="op-card">
                        <div>
                            <h2>
                                {{task_status.type}}
                            </h2>
                        </div>
                        <div>
                            <strong>Status : </strong>
                            <span>{{task_status.status}}</span>
                        </div>
                        <div>
                            <strong>Started at : </strong>
                            <span>{{task_status.start_time}}</span>
                        </div>
                        <div>
                            <strong>Progress : </strong>
                            <span>{{task_status.progress}}%</span>
                        </div>
                        {% if task_status.status == "Running"%}
                                <span class="op-spinner bg-warning">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                        {%elif task_status.status == "Completed"%}
                            <span class="op-spinner bg-success">
                                <i class="fa fa-check"></i>
                            </span>
                        {%elif task_status.status == "Failed"%}
                        <span class="op-spinner bg-danger">
                            <i class="fa fa-close"></i>
                        </span>
                        {%endif%}
                    </div>
                </div>
                {%else%}
                    <div class="holder scroll form-holder">
                        <h2>
                            Fill the form with the required details
                        </h2>
                        <form action="" class="op-form" id="account-op-form">
                            <div>
                                <label for="op-count">No. of accounts</label>
                                <input type="number" id="op-count" name="op-count" required>
                            </div>
                            {% if schedules%}
                                <div>
                                    <label for="op-group">Schedule group</label>
                                    <select id="op-group" name="op-group">
                                        <option value="" disabled>select schedule group</option>
                                        {%for s in schedules%}
                                            <option value="{{s.id}}">{{s.name}}</option>
                                        {%endfor%}
                                    </select>
                                    <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> a schedule group defines your operation strategy</h5>
                                </div>
                            {%endif%}

                            <!-- <div>
                                <label for="img-count">No. of images to upload</label>
                                <input type="number" id="img-count" name="img-count" required>
                            </div> -->
                            <div>
                                <label for="bio">Enter bio (enter multiple sep. by double comma ",,")</label>
                                <textarea type="text" id="bio" name="bio" required></textarea>
                            </div>
                            <div>
                                <label for="max-workers">No. of concurrent actions (optional)</label>
                                <input type="number" id="max-workers" name="max-workers">
                            </div>
                            <input type="submit" value="submit">
                        </form>
                    </div>
                {%endif%}
            </div>
        </div>
    {%endblock%}