{% extends "layout.html" %}

{% block title %}
   Images
{% endblock %}


    {%block main%}
        <div class="main-box">
            <div class="header">
                <h1>{{ g.model.full_name }} <span class="elt">> {{type}} images</span></h1>
                <div class="action-links scroll">
                    <a href="./verification" id="" class="eleveted-a types {%if type == 'verification'%}active{%endif%}">
                        verification images
                    </a>
                    <a href="./profile" id="" class="eleveted-a types {%if type == 'profile'%}active{%endif%}">
                       profile images
                    </a>
                    <a href="/models" id="" class="eleveted-a types" >
                        change model
                    </a>
                </div>
            </div>
            <div class="main-container">
                {%if images %}
                    <div class="holder image-holder scroll">
                        <ul class="images" id="images">
                            {%for img in images%}
                                <li data-image-category="{{img.cat}}">
                                    <img src="{{img.img}}" alt="" id="{{img.id}}_{{img.cat}}">
                                </li>
                            {%endfor%}
                        </ul>
                    </div>
                {%elif not action and not images and active_pose%}
                    <div class="holder image-holder scroll">
                        <div class="no-image">
                            <div class="file-upload upload-image">
                                <input type="file" name="file" disabled>
                                <label for="file">
                                <i class="far fa-folder-open"></i>
                                Choose a file
                                </label>
                            </div>
                            <p>OR</p>
                            <a href="/images/{{type}}?action=add-drive" class="add-drive">
                                Add from GoogleDrive
                            </a>
                        </div>
                    </div>
                {%endif%}
                {%if action and action == 'add-drive'%}
                    <div class="holder scroll form-holder">
                        <h2>
                            Add images from GoogleDrive
                        </h2>
                        <form action="" class="op-form" id="gdrive-form">
                            <div class="errors">
                            </div>
                            <div>
                                <label for="gdrive-link">GoogleDrive link</label>
                                <input type="text" id="gdrive-link" name="gdrive-link" required>
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> enter the link to a GoogleDrive folder. Folder must be made public</h5>
                            </div>
                            <input type="hidden" value="" id="data" name="data">
                            <input type="hidden" value="{{drive_key}}" id="drive_key" name="drive_key">
                            <input type="hidden" value="{{type}}" id="image-type"    name="image-type">

                            <input type="button" id="gdrive-btn" value="Get images"> 
                            <div class="gdrive-display no-show" id="gdrive-display">
                            </div>
                            <input type="submit" id="gdrive-btn-upload" value="Upload" class="no-show">
                            <style>
                                #gdrive-btn{
                                    background: var(--soft-white);
                                    color: #000000;
                                }

                                #gdrive-btn-upload.no-show{
                                    display: none;
                                }
                                #gdrive-btn-upload.show{
                                    display: block;
                                }
                            </style>
                        </form>
                    </div>
                {%endif%}
                {%if images|length > 0 %}
                    <div class="bottom-grid-nav for-upload  no-show">
                        <div class="grid-sum">
                            <span>
                                {{sum}} / {{total}}
                            </span>
                        </div>
                        <div class="navs">
                            <a href="/images/{{type}}?page={% if page > 1%}{{page-1}}{%else%}1{%endif%}&limit={{limit}}" class="prev eleveted-a">Less</a>
                            <a href="/images/{{type}}?page={% if page < (total + limit - 1) // limit%}{{ page+1}}{%else%}1{%endif%}&limit={{limit}}"
                             class="next  eleveted-a">More</a>
                            <a href="/images/{{type}}?page={{ (total + limit - 1) // limit }}&limit={{limit}}" class="end  eleveted-a">Last</a>
                        </div>
                        {% if type == 'verification' and active_pose %}
                            <div class="upload-image">
                                <a href="" class="eleveted-a">
                                    upload more
                                </a>
                            </div>
                        {% elif type != 'verification' %}
                            <div class="upload-image">
                                <a href="" class="eleveted-a">
                                    upload more
                                </a>
                            </div>
                        {%endif%}
                    </div>
                {%endif%}
                {%if g.platform.name in ['badoo','BADOO'] and type != 'profile'%}
                    <div class="side-filter-holder scroll">
                        <div class="filter-drop-down">choose a pose <i class="fas fa-caret-down"></i></div>
                        <div class="side-filter" id="side-filter">
                            {%for pose in g.poses%}
                                <a href="/images/verification?pose={{pose}}" class="{%if active_pose == pose%}active{%endif%}">{{pose}}</a>
                            {%endfor%}
                        </div>
                    </div>
                {%endif%}
            </div>
        </div>
        <style>
            .types.active{
                background: var(--soft-white);
                color: #000000;
                box-shadow: none;
            }
            .elt{
                font-size: smaller;
                color: #999999;
            }
        </style>
        <script>
            const poseDropDown = document.querySelector('.filter-drop-down')

            poseDropDown.addEventListener('click',(e)=>{
                const sideFilter = document.querySelector('#side-filter');
                sideFilter.classList.toggle('show')
            })

            const url = new URL(window.location.href);
            const myprofile = url.pathname.split("/")[2];

            window.onload = function() {
                // Find the <span> element by its id
                const spanElement = document.getElementById('elt');

                // Set the text content of the <span> element
                spanElement.textContent = myprofile;
                };

            // Get the anchor elements
            const imagesLink = document.querySelector('a[href="./images"]');
            const profileLink = document.querySelector('a[href="./profile"]');

            // Remove the "active" class from both anchor elements
            imagesLink.classList.remove('active');
            profileLink.classList.remove('active');

            // Add the "active" class based on the value of myprofile
            if (myprofile === 'verification') {
            imagesLink.classList.add('active');
            } else if (myprofile === 'profile') {
            profileLink.classList.add('active');
            }
            </script>

            <script>
                let pose = "{{active_pose}}"||"None"
            </script>

            {%if action and action =='add-drive'%}
                <script>
                    let driveKey = `{{drive_key}}`;
                </script>
            {%endif%}
    {%endblock%}