<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | manage accounts</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='lander/favicon.ico')}}" type="image/x-icon" sizes="any" />
        <link href="{{ url_for('static', filename='css/responsive.css') }}" media='screen and (max-width: 1024px)' rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        {%block content%}{%endblock%}

        <div class="alert">
        </div>
        <script>
            const signup_url = "{%if g.page and g.page == 'signup'%}/adminonlyallowedtosignup__________{%else%}'/signup'{%endif%}"
        </script>
        <script src="{{ url_for('static', filename='js/configs.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/settings.mjs') }}"></script>
    </body>
</html>