{% extends "layout.html" %}

{% block title %}
    Task groups
{% endblock %}
    {%block main%}
        <div class="main-box">
            <div class="header">
                    <h1>Schedules</h1>
                    <div class="action-links scroll">
                        <a href="/accounts" class="eleveted-a">
                            accounts
                        </a>
                        <a href="/dashboard" class="eleveted-a delete click-on-an-account-to-delete">
                            platforms
                        </a>
                        {%if not action %}
                        <a href="/schedules?action=add-schedule&type=account" class="eleveted-a">
                            add schedule
                        </a>
                        {%else%}
                        <a href="/schedules" class="eleveted-a">
                           schedules
                        </a>
                        {%endif%}
                    </div>
            </div>
            <div class="main-container">
                {%if schedules%}
                    <div class="holder scroll task-holder op-holder">
                        {% for s in schedules%}
                        <div class="op-card">
                                <div>
                                    <h2>
                                        {{s.name}}
                                    </h2>
                                </div>
                                <div>
                                    <strong>Type : </strong>
                                    <span>{{s.type}}</span>
                                </div>
                                <div>
                                    <strong>Operation starts at : </strong>
                                    <span>{{s.op_start_at}}</span>
                                </div>
                                <div>
                                    <strong>Operation ends at : </strong>
                                    <span>{{s.op_end_at}}</span>
                                </div>
                                <span class="op-card-actions">
                                    <a href="/schedules?s={{s.id}}&action=edit-schedule&type={{s.type}}" class="bg-warning">Edit</a>
                                    <a href="#" class="bg-danger action" data-action-id="{{s.id}}" data-action="delete-schedule" data-action-prompt="do you want to delete schedule?" data-action-message="deleting schedule..." data-url="/schedules">Delete</a>
                                </span>
                        </div>
                        {%endfor%}
                    </div>
                {%elif action == 'edit-schedule'%}
                <div class="holder scroll form-holder">
                    <h2>
                        Edit schedule
                    </h2>
                    <form action="" class="op-form edit-schedule" id="schedule-form" data-action="edit-schedule" data-action-message="Updating schedule...">
                        <div>
                            <label for="s-name">Update schedule name</label>
                            <input type="text" id="s-name" name="s-name" value="{{schedule.name}}">
                        </div>
                        <!-- {% if models%}
                            <div>
                                <label for="op-model">Change model</label>
                                <select id="op-model" class="op-model" name="op-model">
                                    <option value="" disabled>select a model</option>
                                    {%for m in models%}
                                        <option value="{{m.id}}" {%if m.id == schedule.model%} selected {%endif%}>{{m.full_name}}</option>
                                    {%endfor%}
                                </select>
                                <h5 class="input-highlight"> 
                                    <i class="fas fas fa-exclamation-circle"></i> 
                                    for which model do you want to run this operation, if not selected the action is for the already set model <span id="current-model" style="color: #111;">({{g.model.full_name}}) </span>
                                </h5>
                            </div>
                        {%endif%} -->
                        <!-- <div>
                            <label for="s-platform">Platform</label>
                            <input type="text" id="s-platform" name="s-platform" value="{{schedule.platform}}" disabled>
                        </div> -->
                        <div>
                            <label for="s-type">Type</label>
                         <input type="text" name="s-type" id="s-type" value="{{schedule.type}}" readonly>
                        </div>
                        {%if action_type in ['swiping','swipe']%}
                            <div>
                                <label for="s-swipe-percent">Update swipe percentage &nbsp;<span>format: swipe left/swipe right</label>
                                <input type="text" id="s-swipe-percent" name="s-swipe-percent" value="{{schedule.swipe_percent}}" >
                            </div>
                            <div>
                                <label for="s-session-count">Update swipe session count</label>
                                <input type="text" id="s-session-count" name="s-session-count" value="{{schedule.swipe_session_count}}">
                                <h5 class="input-highlight"> 
                                    <i class="fas fas fa-exclamation-circle"></i> 
                                    the number of swiping sessions e.g 1-5
                                </h5>
                            </div>
                            <div>
                                <label for="s-swipe-delay">Update swipe delay</label>
                                <input type="text" id="s-swipe-delay" name="s-swipe-delay" value="{{schedule.swipe_delay}}" >
                                <h5 class="input-highlight"> 
                                    <i class="fas fas fa-exclamation-circle"></i> 
                                    the amount of time between each swipe in seconds e.g 10-21
                                </h5>
                            </div>
                            <div>
                                <label for="s-duration">Update swipe duration</label>
                                <input type="text" id="s-duration" name="s-duration" value="{{schedule.swipe_duration}}" >
                                <h5 class="input-highlight"> 
                                    <i class="fas fas fa-exclamation-circle"></i> 
                                    the number of minutes to swipe e.g 10-40
                                </h5>
                            </div>
                        
                        {%elif action_type == 'account'%}
                            <div>
                                <label for="op-count">Change no. of accounts</label>
                                <input type="text" id="op-count" name="op-count" value="{{schedule.op_count}}">
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>the number of accounts to create</h5>
                            </div>
                            <div>
                                <label for="max-workers">Change no. of concurrent actions (optional)</label>
                                <input type="number" id="max-workers" name="max-workers" value="{{schedule.op_max_workers}}">
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>number of threads to run</h5>
                            </div>
                            <div class=" double-field">
                                <label for="">Change no. of accounts in a timeframe</label>
                                <div class="inputs">
                                    <div>
                                        <label for="s-tf-acc-count">accounts</label>
                                        <input type="text" id="s-tf-acc-count" name="s-tf-acc-count" value="{{schedule.op_timer.count_}}">
                                        <h5 class="input-highlight"> 
                                            <i class="fas fas fa-exclamation-circle"></i> 
                                            the number of accounts to create in a given timeframe e.g '100'
                                        </h5>
                                    </div>
                                    <div>
                                        <label for="s-tf-acc-time">timeframe</label>
                                        <input type="text" id="s-tf-acc-time" name="s-tf-acc-time" value="{{schedule.op_timer.time}}">
                                        <h5 class="input-highlight"> 
                                            <i class="fas fas fa-exclamation-circle"></i> 
                                            the timeframe e.g '1 hour'
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="op-proxies">Update proxies</label>
                                <textarea name="op-proxies" id="op-proxies" class="scroll" cols="30" rows="10">{{schedule.op_proxies}}</textarea>
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>type or copy and paste a list of proxies</h5>
                            </div>
                            <div class="double-field"  style="position: relative;">
                                <label for="">Update operation location</label>
                                <div class="inputs">
                                    <div>
                                        <label for="op-location">proxy location</label>
                                        <input type="text" id="op-location" name="op-location" value="{{schedule.op_location}}">
                                        <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> the latitude and longitude for the proxy settings</h5>
                                        <div id="op-map" class="map no-show"></div>
                                    </div>
                                    <div class="map-btn">
                                        <a href="" id="toggle-map">
                                            open map &nbsp;
                                            <i class="fas fa-map-marked"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="op-swipe-group">Update swipe schedule group</label>
                                <select id="op-swipe-group" name="op-swipe-group">
                                    <option value="" disabled>select schedule group</option>
                                    {%if swipe_schedules%}
                                        {%for s in swipe_schedules%}
                                            <option value="{{s.id}}" {%if schedule.op_swipe_group == s.id%}selected{%endif%}>{{s.name}}</option>
                                        {%endfor%}
                                    {%endif%}  
                                </select>
                                <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> a swipe schedule group defines your swipe operation strategy</h5>
                            </div>
                        {%endif%}

                        <div class="op-dates double-field">
                            <label for="">Update operation dates configuration</label>
                            <div class="inputs">
                                <div>
                                    <label for="s-start">starts</label>
                                    <input type="datetime-local" id="s-start" name="s-start" step="1" value="{{schedule.op_start_at}}">
                                    <h5 class="input-highlight"> 
                                        <i class="fas fas fa-exclamation-circle"></i> 
                                        at what date and time do you want the operation to start?
                                    </h5>
                                </div>
                                <div>
                                    <label for="s-end">ends</label>
                                    <input type="datetime-local" id="s-end" name="s-end" step="1" value="{{schedule.op_end_at}}">
                                    <h5 class="input-highlight"> 
                                        <i class="fas fas fa-exclamation-circle"></i> 
                                        at what date and time do you want the operation to end?
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="not-edit" id="s-id" name="s-id" value="{{schedule.id}}">
                        <input type="submit" value="{%if action_type == 'account'%}Submit {%else%} Next {%endif%}"> 
                    </form>
                </div>
                {%elif action == 'add-schedule'%}
                    <div class="holder scroll form-holder">
                        <h2>
                            Add a schedule group
                        </h2>
                        <form action="" class="op-form " id="schedule-form" data-action="add-schedule" data-action-message="Adding schedule...">
                            <div class="double-field">
                                <label for="s-type">Schedule type</label>
                                <div class="inputs">
                                    <div>
                                        {%if action_type%}
                                        <input type="text" id="s-type" name="s-type" value="{{action_type|capitalize}}" required readonly>
                                        {%else%}
                                        <input type="text" id="s-type" name="s-type" value="" required readonly>
                                            <!-- <select id="s-type" name="s-type"  required readonly>
                                                <option value="" disabled>select schedule type</option>
                                                {%for t in ['Account','Swiping']%}
                                                    <option value="{{t}}">{{t}}</option>
                                                {%endfor%}
                                            </select> -->
                                        {%endif%}
                                        <h5 class="input-highlight"> 
                                            <i class="fas fas fa-exclamation-circle"></i> 
                                            the type of operation you want to schedule for e.g account or swiping
                                        </h5>
                                    </div>
                                    <div>
                                        <div class="s-actions">
                                            <a href="/schedules?action=add-schedule&type=account" 
                                            class="account {% if action_type == 'account'%} active {%endif%}">
                                                account</a>
                                            <a href="/schedules?action=add-schedule&type=swiping" 
                                            class="swipe {%if action_type == 'swiping'%} active {%endif%}">swiping</a>
                                        </div>
                                        <h5 class="input-highlight" style="margin: 4px auto;"> 
                                            <i class="fas fas fa-exclamation-circle"></i> 
                                            switch schedule type
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="s-name">Name</label>
                                <input type="text" id="s-name" name="s-name" required>
                                <h5 class="input-highlight"> 
                                    <i class="fas fas fa-exclamation-circle"></i> 
                                    schedule name e.g 'Group A'
                                </h5>
                            </div>
                            {% if models%}
                                <div>
                                    <label for="op-model">Pick a model</label>
                                    <select id="op-model" class="op-model" name="op-model">
                                        <option value="" disabled>select a model</option>
                                        {%for m in models%}
                                            <option value="{{m.id}}" {%if m == g.model%} selected {%endif%}>{{m.full_name}}</option>
                                        {%endfor%}
                                    </select>
                                    <h5 class="input-highlight"> 
                                        <i class="fas fas fa-exclamation-circle"></i> 
                                        for which model do you want to run this operation, if not selected the action is for the already set model <span id="current-model" style="color: #111;">({{g.model.full_name}}) </span>
                                    </h5>
                                </div>
                            {%endif%}
                            {%if action_type == 'swiping'%}
                                <div>
                                    <label for="s-swipe-percent">Swipe percentage &nbsp;<span>format: swipe left/swipe right</label>
                                    <input type="text" id="s-swipe-percent" name="s-swipe-percent" value="40/60" required>
                                </div>
                                <br>
                                <div class=" double-field">
                                    <label for="">Swiping session count</label>
                                    <div class="inputs">
                                        <div>
                                            <label for="s-session-count-start">from</label>
                                            <input type="number" id="s-session-count-start" name="s-session-count-start" value="1" min="1" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the number of swiping sessions e.g 1
                                            </h5>
                                        </div>
                                        <div>
                                            <label for="s-session-count-end">to</label>
                                            <input type="number" id="s-session-count-end" name="s-session-count-end" value="5" min="2" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the number of swiping sessions e.g 5
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class=" double-field">
                                    <label for="">Delay per swipe</label>
                                    <div class="inputs">
                                        <div>
                                            <label for="s-swipe-delay-start">from</label>
                                            <input type="number" id="s-swipe-delay-start" name="s-swipe-delay-start" value="10" min="10" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the amount of time between each swipe in seconds e.g 10
                                            </h5>
                                        </div>
                                        <div>
                                            <label for="s-swipe-delay-end">to</label>
                                            <input type="number" id="s-swipe-delay-end" name="s-swipe-delay-end" value="21" min="11" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the amount of time between each swipe in seconds e.g 21
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class=" double-field">
                                    <label for="">Swiping limit</label>
                                    <div class="inputs">
                                        <div>
                                            <label for="s-duration-start">from</label>
                                            <input type="number" id="s-duration-start" name="s-duration-start" value="10" min="10" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the number of minutes to swipe e.g 10
                                            </h5>
                                        </div>
                                        <div>
                                            <label for="s-duration-end">to</label>
                                            <input type="number" id="s-duration-end" name="s-duration-end" value="40" min="20" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the number of minutes to swipe e.g 40
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            {%elif action_type == 'account'%}
                                <div>
                                    <label for="op-count">No. of accounts</label>
                                    <input type="number" id="op-count" name="op-count" required>
                                    <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>the number of accounts to create</h5>
                                </div>
                                <div>
                                    <label for="max-workers">No. of concurrent actions (optional)</label>
                                    <input type="text" id="max-workers" name="max-workers">
                                    <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>number of threads to run</h5>
                                </div>
                                <div class=" double-field">
                                    <label for="">No. of accounts in a timeframe</label>
                                    <div class="inputs">
                                        <div>
                                            <label for="s-tf-acc-count">accounts</label>
                                            <input type="text" id="s-tf-acc-count" name="s-tf-acc-count" value="100" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the number of accounts to create in a given timeframe e.g '100'
                                            </h5>
                                        </div>
                                        <div>
                                            <label for="s-tf-acc-time">timeframe</label>
                                            <input type="text" id="s-tf-acc-time" name="s-tf-acc-time" value="1 hour" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                the timeframe e.g '1 hour'
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="op-proxies">Enter proxies</label>
                                    <textarea name="op-proxies" id="op-proxies" class="scroll" cols="30" rows="10"></textarea>
                                    <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>type or copy and paste a list of proxies</h5>
                                </div>
                                <div class="double-field"  style="position: relative;">
                                    <label for="">Select operation location</label>
                                    <div class="inputs">
                                        <div>
                                            <label for="op-location">proxy location</label>
                                            <input type="text" id="op-location" name="op-location">
                                            <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i>the latitude and longitude for the proxy settings</h5>
                                            <div id="op-map" class="map no-show"></div>
                                        </div>
                                        <div class="map-btn">
                                            <a href="" id="toggle-map">
                                                open map &nbsp;
                                                <i class="fas fa-map-marked"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <label for="op-swipe-group">Pick a swipe schedule group</label>
                                    <select id="op-swipe-group" name="op-swipe-group">
                                        <option value="" disabled>select schedule group</option>
                                        {%if swipe_schedules%}
                                            {%for s in swipe_schedules%}
                                                <option value="{{s.id}}">{{s.name}}</option>
                                            {%endfor%}
                                        {%endif%}
                                    </select>
                                    <h5 class="input-highlight"> <i class="fas fas fa-exclamation-circle"></i> a swipe schedule group defines your swipe operation strategy</h5>
                                </div>
                            {%endif%}
                            <div class="op-dates double-field">
                                <label for="">Operation dates configuration</label>
                                <div class="inputs">
                                    <div>
                                        <label for="s-start">starts</label>
                                        <input type="datetime-local" id="s-start" name="s-start" step="1" required>
                                        <h5 class="input-highlight"> 
                                            <i class="fas fas fa-exclamation-circle"></i> 
                                            at what date and time do you want the operation to start?
                                        </h5>
                                    </div>
                                    <div>
                                        <label for="s-end">ends</label>
                                        <input type="datetime-local" id="s-end" name="s-end" step="1" required>
                                        <h5 class="input-highlight"> 
                                            <i class="fas fas fa-exclamation-circle"></i> 
                                            at what date and time do you want the operation to end?
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" class="not-edit" id="next" name="next" value="{%if next%}{{next}}{%else%}schedules{%endif%}">
                            <input type="submit" value="{%if action_type == 'account'%}Submit {%else%} Next {%endif%}"> 
                        </form>
                    </div>
                {%elif action == 'next'%}
                    {%if action_type and action_type == 'edit'%}
                        <div class="holder scroll form-holder">
                            <h2>
                                Edit date specifications
                            </h2>
                            <form action="" class="op-form finish-schedule" id="schedule-form" data-action="finish-schedule" data-action-message="Updating schedule...">
                                {%if day_specs|length > 0%}
                                    {% for i in range(day_specs|length) %}
                                        <div class="double-field">
                                            <div class="inputs">
                                                <div>
                                                    <label for="s-day-{{i}}">Days</label>
                                                    <input type="text" id="s-day-{{i}}" name="s-day" value="{{day_specs[i].day}}" readonly>
                                                    <h5 class="input-highlight"> 
                                                        <i class="fas fas fa-exclamation-circle"></i> 
                                                        enter a set of days e.g {{day_specs[i].day}}
                                                    </h5>
                                                </div>
                                                <div>
                                                    <label for="s-swipe-percent-{{i}}">Swipe percentage</label>
                                                    <input type="text" id="s-swipe-percent-{{i}}" name="s-swipe-percent" value="{{day_specs[i].swipe_percent}}">
                                                    <h5 class="input-highlight"> 
                                                        <i class="fas fas fa-exclamation-circle"></i> 
                                                        enter the swipe percentage  e.g {{day_specs[i].swipe_percent}}
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    {%endfor%}
                                {%else%}
                                <div class="double-field">
                                    <div class="inputs">
                                        <div>
                                            <label for="s-day-1">Days</label>
                                            <input type="text" id="s-day-1" name="s-day" value="{%if interval / 2 > 1%}1 - 2{%else%}{{interval}}{%endif%}" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                enter a set of days e.g 1 - 2
                                            </h5>
                                        </div>
                                        <div>
                                            <label for="s-swipe-percent">Swipe percentage</label>
                                            <input type="text" id="s-swipe-percent" name="s-swipe-percent" value="40/60" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                enter the swipe percentage  e.g {swipe_percent} 
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                <div class="more-or-less" id="more-or-less" style="display: grid;grid-template-columns: repeat(1,1fr);"> 
                                    <i class="fas fa-minus-square no-show" id="add-less"></i>
                                    <i class="fas fa-plus-square" id="add-more"></i>
                                </div>
                                <input type="hidden" class="not-edit" id="action-type" name="action-type" value="{{action_type}}">
                                <input type="hidden" class="not-edit" id="s-id" name="s-id" value="{{s_id}}">
                                <input type="hidden" class="not-edit" id="interval" name="interval" value="{{interval}}">
                                <input type="submit" value="Finish"> 
                            </form>
                        </div>
                    {%else%}
                        <div class="holder scroll form-holder">
                            <h2>
                                Add date specifications
                            </h2>
                            <form action="" class="op-form finish-schedule" id="schedule-form" data-action="finish-schedule" data-action-message="Adding schedule...">
                                <div class="double-field">
                                    <div class="inputs">
                                        <div>
                                            <label for="s-day-1">Days</label>
                                            <input type="text" id="s-day-1" name="s-day" value="{%if interval / 2 >= 1%}1 - 2{%else%}{{interval}}{%endif%}" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                enter a set of days e.g 1 - 2
                                            </h5>
                                        </div>
                                        <div>
                                            <label for="s-swipe-percent">Swipe percentage</label>
                                            <input type="text" id="s-swipe-percent" name="s-swipe-percent" value="40/60" required>
                                            <h5 class="input-highlight"> 
                                                <i class="fas fas fa-exclamation-circle"></i> 
                                                enter the swipe percentage  e.g 40/60 
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="more-or-less" id="more-or-less" style="display: grid;grid-template-columns: repeat(1,1fr);"> 
                                    <i class="fas fa-minus-square no-show" id="add-less"></i>
                                    <i class="fas fa-plus-square" id="add-more"></i>
                                </div>
                                <input type="hidden" class="not-edit" id="s-id" name="s-id" value="{{s_id}}">
                                <input type="hidden" class="not-edit" id="next" name="next" value="{%if next%}{{next}}{%else%}schedules{%endif%}">
                                <input type="hidden" class="not-edit" id="interval" name="interval" value="{{interval}}">
                                <input type="submit" value="Finish"> 
                            </form>
                        </div>
                    {%endif%}
                    <script>
                        const insertAfter = (referenceNode, newNode) => {
                            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
                        }



                        const more_less = document.getElementById('more-or-less');
                        const addMore = more_less.querySelector('#add-more');
                        const addLess = more_less.querySelector('#add-less');
                        const scheduleContainer = document.getElementById('schedule-form');
                        const maxInterval = parseInt({{ interval }});
                        let schedules = scheduleContainer.querySelectorAll('.double-field');
                        
                        let scheduleCount = schedules.length;
                        let lastEndDate;

                        {%if action_type and action_type=='edit'%}
                            if(scheduleCount > 0){
                                addLess.classList.remove('no-show');
                                more_less.style.gridTemplateColumns ='repeat(2,1fr)';
                            }
                        {%endif%}
                        
                        addMore.addEventListener('click', () => {
                            schedules = scheduleContainer.querySelectorAll('.double-field');
                            const lastInput = schedules[schedules.length - 1].querySelector('.inputs:last-of-type input:last-of-type');
                            const lastEndDate = parseInt(lastInput.value.split('-')[1]);
                            console.log(lastEndDate)

                            if (lastEndDate >= maxInterval) {
                                console.log('Cannot exceed maximum date interval');
                                return;
                            }
                            
                            let days = lastEndDate + 1 < maxInterval?`${lastEndDate + 1} - ${lastEndDate + 2}`: `${maxInterval} - ${maxInterval}`;
                            
                            const newSchedule = document.createElement('div');
                            newSchedule.className = 'double-field';
                            newSchedule.innerHTML = `
                                <div class="inputs">
                                    <div>
                                        <label for="s-day-${scheduleCount + 1}">Days</label>
                                        <input type="text" id="s-day-${scheduleCount + 1}" name="s-day" value="${days}" required>
                                        <h5 class="input-highlight">
                                            <i class="fas fas fa-exclamation-circle"></i>
                                            enter a set of days e.g ${days}
                                        </h5>
                                    </div>
                                    <div>
                                        <label for="s-swipe-percent-${scheduleCount + 1}">Swipe percentage</label>
                                        <input type="text" id="s-swipe-percent-${scheduleCount + 1}" name="s-swipe-percent" value="40/60" required>
                                        <h5 class="input-highlight">
                                            <i class="fas fas fa-exclamation-circle"></i>
                                            enter the swipe percentage e.g 40/60
                                        </h5>
                                    </div>
                                </div>
                            `;

                            insertAfter(schedules[schedules.length - 1],newSchedule);
                            scheduleCount++;

                            more_less.style.gridTemplateColumns ='repeat(2,1fr)';
                            addLess.classList.remove('no-show');

                            lastInput.setAttribute('readonly','');
                        });

                        addLess.addEventListener('click', () => {
                            schedules = scheduleContainer.querySelectorAll('.double-field');
                            const lastInput = schedules[schedules.length - 2].querySelector('.inputs:last-of-type input:last-of-type');
                            
                            if (scheduleCount > 1) {
                                const lastSchedule = schedules[schedules.length - 1];
                                scheduleContainer.removeChild(lastSchedule);
                                scheduleCount--;
                            }

                            if (scheduleCount < 2){
                                addLess.classList.add('no-show');
                                more_less.style.gridTemplateColumns ='repeat(1,1fr)';
                            }
                            lastInput.removeAttribute('readonly');
                        });

                    </script>
                {%endif%}
            </div>
        </div>
        {%if action%}
         
        <script>
            const action = "{{ action }}";
            {% if schedule %}
                const schedule = JSON.parse(JSON.stringify({{ schedule|tojson|safe }})) || null;
            {% endif %}
            const sD = document.getElementById('s-start');
            const eD = document.getElementById('s-end');
            const sscStart = document.getElementById('s-session-count-start');
            const sscEnd = document.getElementById('s-session-count-end');
            const sdStart = document.getElementById('s-swipe-delay-start');
            const sdEnd = document.getElementById('s-swipe-delay-end');
            const sdurationStart = document.getElementById('s-duration-start');
            const sdurationEnd = document.getElementById('s-duration-end');

            let currentDate = new Date().toISOString().slice(0, 19);
            let currentTime = new Date().toISOString().slice(0, 19);

            sD.min = (action === 'add-schedule' || !schedule) ? currentDate : schedule.op_start_at;
            sD.value = (action === 'add-schedule' || !schedule) ? currentDate : schedule.op_start_at;

            let startDate = new Date(sD.value);
            let nextDate = new Date(startDate.getTime() + 24 * 60 * 60 * 1000);

            eD.min = (action === 'add-schedule' || !schedule) ? nextDate.toISOString().slice(0, 19) : schedule.op_end_at;
            eD.value = (action === 'add-schedule' || !schedule) ? nextDate.toISOString().slice(0, 19) : schedule.op_end_at;

            console.log(eD.value);
            sD.addEventListener('change', (e) => {
                startDate = new Date(e.target.value);
                e.target.min = startDate;
                
                nextDate = new Date(startDate.getTime() + 24 * 60 * 60 * 1000);
                eD.min = nextDate.toISOString().slice(0, 19);
                eD.value = nextDate.toISOString().slice(0, 19);
                console.log(sD.value)
                console.log(eD.value);
            });

            try {
                sscStart.addEventListener('input', (e) => {
                    let fV = parseInt(e.target.value) + 1;
                    sscEnd.min = isNaN(fV) ? '1' : fV.toString();
                    sscEnd.value = parseInt(sscEnd.min);
                });

                sdStart.addEventListener('input', (e) => {
                    let fV = parseInt(e.target.value) + 1;
                    sdEnd.min = isNaN(fV) ? '1' : fV.toString();
                    sdEnd.value = parseInt(sdEnd.min);
                });

                sdurationStart.addEventListener('input', (e) => {
                    let fV = parseInt(e.target.value) + 1;
                    sdurationEnd.min = isNaN(fV) ? '10' : fV.toString();
                    sdurationEnd.value = parseInt(sdurationEnd.min);
                });
            } catch (error) {
                console.log(error);
            }
        </script>                  
        {%endif%}
    {% endblock%}